extends ../layout

block content
  a.flex.items-center.text-blue-600(
    class='hover:text-blue-800',
    href=`/courses/${courseID}/manage`
  )
    svg.w-6.h-6.mr-2(
      xmlns='http://www.w3.org/2000/svg',
      viewBox='0 0 24 24',
      fill='none',
      stroke='currentColor',
      stroke-width='2',
      stroke-linecap='round',
      stroke-linejoin='round'
    )
      circle(cx='12', cy='12', r='10')
      polyline(points='12 8 8 12 12 16')
      line(x1='16', y1='12', x2='8', y2='12')
    span #{ t('lesson.backToCourseManagement') }

  form.flex.flex-col.justify-center.items-center.w-full(method='post')
    h1.text-3xl.font-bold.p-8 #{ t('lesson.delete') }

    .border.rounded-lg.p-4.space-y-4(class='w-2/3')
      .my-4
        label(for='title') #{ t('lesson.detail.title') }
        input#title.py-3.w-full.text-sm.border.rounded.transition-all.px-4(
          class='focus:bg-transparent outline-[#007bff]',
          required,
          disabled,
          value=lesson ? lesson.title : ''
        )
      .my-4
        label(for='content') #{ t('lesson.detail.content') }
        textarea#content.py-3.w-full.text-sm.border.rounded.transition-all.px-4(
          class='focus:bg-transparent outline-[#007bff]',
          required,
          disabled,
          rows='4'
        ) #{ lesson && lesson.content }
      .mb-4
        label(for='study-time') #{ t('lesson.detail.study_time') }
        #study-time.flex.justify-between.gap-2
          input.w-full.px-3.py-2.border.rounded-lg.text-gray-700(
            type='time',
            required,
            disabled,
            value=lesson ? lesson.time : '',
            class='focus:outline-none focus:ring-2 focus:ring-blue-600'
          )
          input.w-full.px-3.py-2.border.rounded-lg.text-gray-700(
            type='date',
            required,
            disabled,
            value=lesson ? lesson.date : '',
            class='focus:outline-none focus:ring-2 focus:ring-blue-600'
          )
      if studentLesson.length
        .italic.text-lg.font-bold.text-red-600.text-center(class='!mt-8 py-2.5') #{ studentLesson.length } #{ t('lesson.canNotDeleteMessage') }
        a.mb.px-4.mx-auto.block.text-sm.bg-blue-500.text-white.rounded.w-fit(
          href=`/courses/${courseID}/manage`,
          class='py-2.5 hover:bg-blue-600'
        ) #{ t('common.ok') }
      else
        .italic.text-lg.font-bold.text-red-600.text-center(class='!mt-8 py-2.5') #{ t('lesson.deleteConfirmMessage') }
        button.mb.px-4.mx-auto.block.text-sm.bg-red-800.text-white.rounded.w-fit(
          type='submit',
          class='py-2.5 hover:bg-red-600'
        ) #{ t('common.delete') }
