extends ../layout

block content
  a.flex.items-center.text-blue-600(
    class='hover:text-blue-800',
    href=`/courses/${courseID}/manage`
  )
    svg.w-6.h-6.mr-2(
      xmlns='http://www.w3.org/2000/svg',
      viewBox='0 0 24 24',
      fill='none',
      stroke='currentColor',
      stroke-width='2',
      stroke-linecap='round',
      stroke-linejoin='round'
    )
      circle(cx='12', cy='12', r='10')
      polyline(points='12 8 8 12 12 16')
      line(x1='16', y1='12', x2='8', y2='12')
    span #{ t('lesson.backToCourseManagement') }

  .flex.flex-col.justify-center.items-center.w-full
    h1.text-3xl.font-bold.p-8 #{ title }

    form.border.rounded-lg.p-4.space-y-4(
      method='POST',
      enctype='multipart/form-data',
      class='w-2/3'
    )
      .my-4
        label(for='title') #{ t('lesson.detail.title') }
        input#title.py-3.w-full.text-sm.border.rounded.transition-all.px-4(
          class='focus:bg-transparent outline-[#007bff]',
          type='text',
          placeholder='Introduction to HTML',
          name='title',
          required,
          value=lesson ? lesson.title : ''
        )
      .my-4
        label(for='content') #{ t('lesson.detail.content') }
        textarea#content.py-3.w-full.text-sm.border.rounded.transition-all.px-4(
          class='focus:bg-transparent outline-[#007bff]',
          placeholder='Learn the basics of HTML structure.',
          name='content',
          required,
          value=lesson ? lesson.content : '',
          rows='4'
        ) #{ lesson && lesson.content }
      .my-4
        label(for='file') #{ t('lesson.detail.file') }
        input#file.w-full.text-gray-400.font-semibold.text-sm.bg-white.border.cursor-pointer.rounded(
          class='file:cursor-pointer file:border-0 file:py-3 file:px-4 file:mr-4 file:bg-gray-100 file:hover:bg-gray-200 file:text-gray-500',
          type='file',
          name='file',
          value=lesson ? lesson.file_url : ''
        )
      .mb-4
        label(for='study-time') #{ t('lesson.detail.study_time') }
        #study-time.flex.justify-between.gap-2
          input.w-full.px-3.py-2.border.rounded-lg.text-gray-700(
            type='time',
            name='studyTime',
            required,
            value=lesson ? lesson.time : '',
            class='focus:outline-none focus:ring-2 focus:ring-blue-600'
          )
          input.w-full.px-3.py-2.border.rounded-lg.text-gray-700(
            type='date',
            name='studyDate',
            required,
            value=lesson ? lesson.date : '',
            class='focus:outline-none focus:ring-2 focus:ring-blue-600'
          )
      button.btn.btn-primary.mb.px-4.mx-auto.block.text-sm.bg-blue-500.text-white.rounded(
        type='submit',
        class='!mt-8 py-2.5 hover:bg-blue-600 w-1/2'
      ) #{ t('common.submit') }
